img{
    width: 100px;
    height: 100px;
    border: 0;
}

.objthumbnail {
	width:100px;
	height:100px;
}
.bgthumbnail {
	width:100px;
	height:100px;
}

*{
	font-family: "Letter Gothic Std";
}
#header{
	background: url(image/header.svg);
	width: 600px;
	height: 150px;
	background-size: cover;
	margin: 10px 40px;
}
#info{
	position: absolute;
	width: 400px;
	height: 600px;
	margin-left: 430px;
	background-color: rgba(255, 255, 255, 0.94);
	border: solid 1px grey;
	z-index: 101;
}
#soundcloud{
	margin-left: 117px;
	background: #FF7F00;
	color: white;
	border-radius: 15px;
	width: 400px;
	padding: 10px;
	margin-top: 10px;
}
.hide{
	display: none;
}
.clear{
	clear: both;
	padding-bottom: 20px;
}
.left{
	float:left;
}
#moodform{
	width: 190px;
}
.mood{
	display: none;
}
#clickinfo{
	padding-right: 40px;
	cursor: pointer;
	color: white;
	text-align: center;
}
#infoimg{
	float: right;
	border-radius: 50%;
	padding: 5px;
	width: 20px;
	background: #bfbebc;
}
#infoimg:hover{
	background: #FF7F00;
}